# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/



# IDE-specific files (Shared)
# We share .idea/ and .vscode/ but ignore user-specific local files
.idea/workspace.xml
.idea/tasks.xml
.idea/localTasks.xml
.idea/shelf/
.idea/dictionaries/
.idea/assetWizardSettings.xml
.idea/caches/
.idea/devcontainer.xml
.idea/leetcode/
.idea/vcs.xml
.idea/libraries/
.vscode/settings.json
*.iml

# Build artifacts
app.*.symbols
app.*.map.json

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/key.properties
/android/local.properties

# iOS
/ios/build/
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/.last_build_id
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/

# macOS
/macos/build/
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/Podfile.lock
/macos/Runner.xcworkspace

# Linux
/linux/build/
/linux/flutter/ephemeral

# Windows
/windows/build/
/windows/flutter/ephemeral
/windows/runner/Debug/
/windows/runner/Profile/
/windows/runner/Release/

# Generated code
*.g.dart
*.freezed.dart
*.mocks.dart
*.config.dart
*.part.dart
*.chopper.dart
/lib/l10n/*.dart

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
feature_comparison.md
