# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE-specific files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Build artifacts
app.*.symbols
app.*.map.json

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/key.properties
/android/local.properties

# iOS
/ios/build/
/ios/Pods/
/ios/Podfile.lock
/ios/Flutter/App.framework
/ios/Flutter/engine.framework
/ios/Flutter/.last_build_id
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/

# macOS
/macos/build/
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/Podfile.lock
/macos/Runner.xcworkspace

# Linux
/linux/build/
/linux/flutter/ephemeral

# Windows
/windows/build/
/windows/flutter/ephemeral
/windows/runner/Debug/
/windows/runner/Profile/
/windows/runner/Release/

# Generated code
*.g.dart
*.freezed.dart

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
